/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
}

.header-bord {
  max-height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-bord__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

@media screen and (max-width: 767px) {
  .header-bord__box {
    height: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero-section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-mobile-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-tablet-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-desktop-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-desktop-1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-desktop-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-desktop-2x.jpg);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

.team-section {
  background-color: #f5f4fa;
}

body {
  margin: 0px;
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  h2 {
    margin-bottom: 30px;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 10px, 30px, 0px;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

span {
  font-style: normal;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  label {
    font-size: 12px;
  }
}

.client-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .client-section__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .client-section__list .client-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .client-section__list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-section__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 170px;
  }
  .client-section__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-section__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  .client-section__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 226px;
  }
  .client-section__item {
    min-width: 226px;
  }
}

@media screen and (max-width: 767px) {
  .client-section__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.client-section__item:focus,
.client-section__item:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.client-section__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-section__link:focus, .client-section__link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .client-section__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 210px;
    min-height: 92px;
  }
}

.client-section__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-section__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .features-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-section__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-image: url(../image/features-img-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.features-section__item:nth-child(1)::before {
  background-image: url(../image/features-img-1.svg);
}

.features-section__item:nth-child(2)::before {
  background-image: url(../image/features-img-2.svg);
}

.features-section__item:nth-child(3)::before {
  background-image: url(../image/features-img-3.svg);
}

.features-section__item:nth-child(4)::before {
  background-image: url(../image/features-img-4.svg);
}

@media screen and (min-width: 1200px) {
  .features-section__list .item + .item {
    margin-left: 30px;
  }
}

.feature-title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .feature-title {
    text-align: left;
  }
}

.features-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.features-section__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .footer-section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-social__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 70px;
    height: 80px;
    width: 206px;
  }
  .footer-mail__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 570px;
    height: 86px;
    margin-left: 93px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer-mail__box {
    text-align: center;
  }
  .footer-section__address {
    text-align: center;
  }
  .footer-section__list {
    margin-bottom: 60px;
  }
  .footer-social__box {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-mail__box {
    text-align: center;
  }
  .footer-mail__box {
    margin-top: 60px;
  }
  .footer-telegram__window {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 0;
  }
}

.footer-logo__web {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo__studio {
  color: #ffffff;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-section__list .link {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.footer-section__list .link:focus {
  color: #2196f3;
}

.footer-section__list .link:hover {
  color: #ffffff;
}

.footer-section__item {
  padding-bottom: 9px;
}

.footer-link {
  margin-top: 20px;
}

.footer-section__link {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.footer-social__title {
  color: #ffffff;
  stroke: #000000;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-social__title {
    text-align: center;
    margin-bottom: 0px;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 206px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:focus, .footer-social__link:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-section__title {
  color: #ffffff;
  stroke: #000000;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
}

.footer-mail__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .footer-mail__input {
    margin-bottom: 20px;
    width: 75vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-mail__input {
    margin-bottom: 20px;
    width: 450px;
  }
}

.footer-mail__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: -webkit-focus-ring-color auto 0px;
  color: #ffffff;
}

.footer-telegram__window {
  position: relative;
  width: 0;
  height: 0;
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .footer-telegram__window {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 0;
  }
}

.footer-telegram__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.footer-telegram__span {
  position: absolute;
  top: 14px;
  right: -175px;
  fill: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .footer-telegram__span {
    position: absolute;
    top: 28%;
    right: 12%;
  }
}

.footer-telegram__icon {
  width: 24px;
  height: 24px;
}

.footer-section__info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section__info:hover,
.footer-section__link:hover {
  color: #ffffff;
}

.footer-section__info:focus,
.footer-section__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-info__list a {
    color: #757575;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .site-info__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.1666;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-info__icon {
    height: 20px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .site-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-left: 84px;
  }
  .site-info__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-info__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-info__icon {
    height: 20px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .site-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .site-info__list .site-info__item + .site-info__item {
    margin-left: 30px;
  }
  .site-info__list a {
    color: #757575;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-info__list .link:focus,
.site-info__list .link:hover {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-info__link {
    display: none;
  }
  .site-info__icon {
    display: none;
  }
  .site-info__list {
    display: none;
  }
  .site-info__list .site-info__item + .site-info__item {
    display: none;
  }
  .site-info__list a {
    display: none;
  }
}

.header-bord__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo__web {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo__studio {
  color: black;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
  }
  .site-nav__link.current::after, .site-nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .site-nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
  .site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: none;
  }
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle .header-icon__close {
  display: none;
}

.menu-toggle.is-open .icon-close {
  display: block;
}

.menu-toggle.is-open .icon-menu {
  display: none;
}

.header-icon {
  color: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 40px;
    min-height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #212121;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-toggle:focus, .menu-toggle:hover {
    fill: #2196f3;
  }
  .menu-container__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .menu-container__link:focus, .menu-container__link:hover {
    color: #2196f3;
  }
  .container-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .container-info__list {
    margin-bottom: 64px;
  }
  .container-info__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .container-info__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .container-info__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .container-social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 22px;
  }
  .container-social__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .container-social__item::before {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .container-social__item:nth-child(n + 2)::before {
    background-image: url(../image/line.svg);
  }
  .container-social__item:first-child::before {
    display: none;
  }
  .container-social__link {
    color: currentColor;
  }
  .container-social__item {
    max-width: 115px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.hero-section__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    width: 696px;
  }
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hero-section__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6153;
  }
}

.hero-section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-btn__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-btn__close:focus, .modal-btn__close:hover {
  color: #2196f3;
}

@media screen and (max-width: 450px) {
  .modal-btn__close {
    right: 50px;
  }
}

.modal-icon__close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.form {
  min-width: 450px;
  height: 581px;
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .form {
    min-width: 100%;
    height: 609px;
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
}

.form-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-input__box label {
  margin-bottom: 4px;
}

.modal-input__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-input__box input {
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-input:focus,
.modal-input:hover {
  border: 1px solid #2196f3;
  outline: -webkit-focus-ring-color auto 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input__icon,
.modal-input:hover + .modal-input__icon {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  width: 18px;
  height: 18px;
}

.modal-icon {
  width: 18px;
  height: 18px;
}

.modal-text__window:focus,
.modal-text__window:hover {
  border: 1px solid #2196f3;
  outline: -webkit-focus-ring-color auto 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contract__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox:checked + .modal-contract__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contract {
  margin-left: 13px;
  margin-right: 11px;
  margin-top: 20px;
}

.modal-contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal-contract input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  color: #212121;
}

.modal-contract__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #212121;
}

.modal-contract__link {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal-send__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .modal-contract__label {
    min-width: 346px;
  }
}

@media screen and (max-width: 1199px) {
  .picture-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .picture-section {
    padding-top: 0;
  }
  .picture-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .picture-section__list .item + .item {
    margin-left: 30px;
  }
  .picture-section__item {
    position: relative;
  }
  .picture-section__box {
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }
  .picture-section__text {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
  .portfolio-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .portfolio-item:nth-child(2) {
    margin-left: 8px;
  }
  .portfolio-item:nth-child(4) {
    margin-left: 8px;
  }
  .portfolio-item:nth-child(5) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 384px) and (max-width: 767px) {
  .portfolio-item:nth-child(2) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 392px) {
  .portfolio-item:nth-child(4) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 391px) {
  .portfolio-item:nth-child(5) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 56px;
  }
  .portfolio-item:not(:first-child) {
    margin-left: 8px;
  }
}

.portfolio-button-second {
  width: 128px;
}

.portfolio-button-third {
  width: 145px;
}

.portfolio-button-fourth {
  width: 103px;
}

.portfolio-button-fifth {
  width: 130px;
}

.portfolio-button {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.portfolio-button:focus, .portfolio-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-work__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .portfolio-work__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .portfolio-work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio-bottom__box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-work__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: auto;
  }
  .portfolio-work__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-work__link {
    display: block;
  }
  .portfolio-work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio-work__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.portfolio-work__link:focus .portfolio-box__card::before,
.portfolio-work__link:hover .portfolio-box__card::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-work__link:focus,
.portfolio-work__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-work__link:focus .portfolio-card__text,
.portfolio-work__link:hover .portfolio-card__text {
  opacity: 1;
}

.portfolio-box__card {
  position: relative;
  overflow: hidden;
}

.portfolio-box__card::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box__card:focus::before,
.portfolio-box__card:hover::before {
  opacity: 1;
}

.portfolio-card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  margin: 0;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-box__title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-box__text {
  margin-top: 0;
  margin-bottom: 0px;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-box__paragraph {
  text-align: left;
}

.portfolio-bottom__box {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-section__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .team-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-section__item {
  background-color: #ffffff;
  padding: 0;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team-section__item {
    width: 100%;
    padding: 0;
  }
}

.team-social__box {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 19px;
}

.team-social__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .team-social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .team-social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .team-social__item:not(:last-child) {
    margin-right: 10px;
  }
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:focus, .team-social__link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .team-section__list .item + .item {
    margin-left: 30px;
  }
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */