.header-bord {
  max-height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-bord__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

  @media screen and (max-width: 767px) {
    height: 60px;
    justify-content: flex-start;
  }
}
