.hero-section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-img-3200.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
  }

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   .hero-section {
  //     background-image: url(../image/hero-img-768@2x.jpg);
  //     background-size: cover;
  //   }
  // }

  // @media screen and (min-width: 768px) {
  //   .hero-section {
  //     background-image: url(../image/hero-img-960.jpg);
  //   }
  // }
  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   .hero-section {
  //     background-image: url(../image/hero-img-1536@2x.jpg);
  //   }
  // }
}
