.client-section__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @media screen and (max-width: 479px) {
    flex-direction: column;

    .client-section__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-section__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
  }

  .client-section__list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-section__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  .client-section__link {
    display: inline-flex;
    min-width: 226px;
  }

  .client-section__item {
    min-width: 226px;
  }
}

.client-section__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.client-section__item:focus,
.client-section__item:hover {
  fill: $accent-color;
  border-color: $accent-color;
}

.client-section__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  border: 1px solid $primary-gray-color;
  border-radius: 4px;

  fill: $primary-gray-color;

  transition: 250ms $animation-cubic-beizer;

  &:focus,
  &:hover {
    fill: $accent-color;
    border-color: $accent-color;
  }

  @media screen and (max-width: 767px) {
    display: inline-flex;
    min-width: 210px;
    min-height: 92px;
  }
}

.client-section__icon {
  width: 106px;
  height: 60px;
}
