@media screen and (min-width: 1200px) {
  .footer-section__box {
    display: flex;
    align-items: flex-start;
    align-items: baseline;
  }

  .footer-social__box {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    height: 80px;
    width: 206px;
  }

  .footer-mail__box {
    display: flex;
    flex-wrap: wrap;

    width: 570px;
    height: 86px;

    margin-left: 93px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer-mail__box {
    text-align: center;
  }

  .footer-section__address {
    text-align: center;
  }

  .footer-section__list {
    margin-bottom: 60px;
  }

  .footer-social__box {
    display: grid;
    justify-content: center;

    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-section__box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: baseline;
    justify-content: space-around;
  }

  .footer-mail__box {
    text-align: center;
  }

  .footer-mail__box {
    margin-top: 60px;
  }

  .footer-telegram__window {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 0;
  }
}

.footer-logo__web {
  color: $accent-color;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo__studio {
  color: $primary-white-color;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-section__list .link {
  color: $primary-white-color;

  font-style: normal;
  line-height: 1.71;
}

.footer-section__list .link:focus {
  color: $accent-color;
}

.footer-section__list .link:hover {
  color: $primary-white-color;
}

.footer-section__item {
  padding-bottom: 9px;
}

.footer-link {
  margin-top: 20px;
}

.footer-section__link {
  color: $primary-white-color;

  font-style: normal;
  line-height: 1.71;
}

.footer-social__title {
  color: $primary-white-color;
  stroke: #000000;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  padding: 0;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 0px;
  }
}

.footer-social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 206px;
}

.footer-social__link {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $primary-white-color;
  background: rgba(255, 255, 255, 0.1);

  transition: 250ms $animation-cubic-beizer;

  &:focus,
  &:hover {
    fill: $primary-white-color;
    background-color: $accent-color;
  }
}

.footer-social__icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.footer-section__title {
  color: $primary-white-color;
  stroke: #000000;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  padding: 0;
  margin-bottom: 20px;
}

.footer-mail__input {
  width: 100%;
  height: 50px;

  padding: 15px 16px;

  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 450px;
  }
}

.footer-mail__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: -webkit-focus-ring-color auto 0px;
  color: $primary-white-color;
}

.footer-telegram__window {
  position: relative;

  width: 0;
  height: 0;
  margin-left: 12px;

  @media screen and (max-width: 1199px) {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 0;
  }
}

.footer-telegram__btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;

  padding: 10px 28px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: $primary-white-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  cursor: pointer;
}

.footer-telegram__span {
  position: absolute;
  top: 14px;
  right: -175px;

  fill: $primary-white-color;

  cursor: pointer;

  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 28%;
    right: 12%;
  }
}

.footer-telegram__icon {
  width: 24px;
  height: 24px;
}

.footer-section__info {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  line-height: 1.71;

  transition: 250ms $animation-cubic-beizer;
}

.footer-section__info:hover,
.footer-section__link:hover {
  color: $primary-white-color;
}

.footer-section__info:focus,
.footer-section__link:focus {
  color: $accent-color;
}
