@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;

    &.current::after,
    &:hover::after {
      transform: scaleX(1);
    }
  }

  .site-nav__link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    transform: scaleX(0);
    transition: 250ms $animation-cubic-beizer;
  }

  .site-nav {
    display: flex;
    margin-left: 50px;
  }

  .site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav__link {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: $accent-color;
}

.header-bord__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  color: $title-text-color;

  transition: 250ms $animation-cubic-beizer;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle .header-icon__close {
  display: none;
}

.menu-toggle.is-open .icon-close {
  display: block;
}

.menu-toggle.is-open .icon-menu {
  display: none;
}

.header-icon {
  color: $title-text-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primary-white-color;
  z-index: 999;

  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
  transition: 250ms $animation-cubic-beizer;
}

@media screen and (max-width: 767px) {
  .container-nav__list {
    margin-bottom: 302px;
  }

  .menu-container__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;

    color: $title-text-color;

    &:focus,
    &:hover {
      color: $accent-color;
    }
  }

  .container-nav__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .container-info__list {
    margin-bottom: 64px;
  }

  .container-info__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .container-info__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764;
    letter-spacing: 0.02em;

    color: $accent-color;
  }

  .container-info__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666;
    letter-spacing: 0.02em;

    color: $title-text-color;
  }

  .container-social__list {
    display: flex;
  }

  .container-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222;
    letter-spacing: 0.02em;

    color: $accent-color;
  }

  .container-social__icon {
    margin-left: 5px;
    margin-bottom: 5px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }

  .menu-toggle:focus,
  .menu-toggle:hover {
    fill: $accent-color;
  }
}
