@media screen and (min-width: 768px) {
  .site-info__link {
    display: flex;
    align-items: center;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-info__icon {
    height: 100%;
    width: 16px;
    margin-right: 10px;

    fill: currentColor;
  }

  .site-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
  }

  .site-info .site-info__item + .site-info__item {
    margin-left: 50px;
  }

  .site-info a {
    color: $secondary-text-color;

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-info .link:focus,
.site-info .link:hover {
  color: $accent-color;
}

@media screen and (max-width: 767px) {
  .site-info__link {
    display: none;
  }

  .site-info__icon {
    display: none;
  }

  .site-info {
    display: none;
  }

  .site-info .site-info__item + .site-info__item {
    display: none;
  }

  .site-info a {
    display: none;
  }
}

// @media screen and (min-width: 1200px) {
//   .site-info {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//   }
// }
