.header-bord__link {
  display: flex;
}

.header-logo__web {
  color: $accent-color;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo__studio {
  color: black;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
