.site-nav__link {
  position: relative;

  &.current::after,
  &:hover::after {
    transform: scaleX(1);
  }
  display: none;
}

.site-nav__link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;

  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.site-nav {
  // display: flex;
  margin-left: 50px;
  display: none;
}

.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
  display: none;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: $accent-color;
  display: none;
}
