@media screen and (min-width: 1200px) {
  .hero-section__title {
    padding-left: 230px;
    padding-right: 230px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.hero-section__title {
  color: $primary-white-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.6153;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-section__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-section__title {
    width: 360px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section__box {
    padding: 0 45px;
  }
}
