@media screen and (max-width: 767px) {
  .portfolio-list__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 40px;
  }

  .portfolio-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  .portfolio-item:nth-child(2) {
    margin-left: 8px;
  }

  .portfolio-item:nth-child(3) {
    margin-left: 8px;
  }

  .portfolio-item:nth-child(5) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__btn {
    display: flex;
    justify-content: center;

    margin-bottom: 56px;
  }

  .portfolio-item:not(:first-child) {
    margin-left: 8px;
  }
}

// .portfolio-list__btn .portfolio-item + .portfolio-item {
//   margin-left: 8px;
// }

.portfolio-button-second {
  width: 128px;
}

.portfolio-button-third {
  width: 145px;
}

.portfolio-button-fourth {
  width: 103px;
}

.portfolio-button-fifth {
  width: 130px;
}

.portfolio-button {
  border: 1px solid transparent;
  border-radius: 4px;

  color: $title-text-color;
  background-color: #f5f4fa;

  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    transition: 250ms $animation-cubic-beizer;
  }
}
