.portfolio-work__list {
  // display: flex;
  flex-wrap: wrap;
}

.portfolio-work__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-work__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-work__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-work__link:focus .portfolio-box__card::before,
.portfolio-work__link:hover .portfolio-box__card::before {
  transform: translateY(0);
}

.portfolio-work__link:focus,
.portfolio-work__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-work__link:focus .portfolio-card__text,
.portfolio-work__link:hover .portfolio-card__text {
  opacity: 1;
}

.portfolio-work__link {
  display: block;
}

.portfolio-box__card {
  position: relative;

  overflow: hidden;
}

.portfolio-box__card::before {
  display: inline-block;
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(+101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box__card:focus::before,
.portfolio-box__card:hover::before {
  opacity: 1;
}

.portfolio-card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  margin: 0;
  width: 322px;
  height: 168px;

  font-size: 18px;
  line-height: 1.55;

  color: $primary-white-color;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.portfolio-box__title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-box__text {
  margin-top: 0;
  margin-bottom: 0px;

  color: $secondary-text-color;

  font-size: 16px;
  line-height: 1.87;
}

.portfolio-box__paragraph {
  text-align: left;
}

.portfolio-bottom__box {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  padding: 20px 24px;
}
