@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-section__item:nth-child(1) {
    margin-bottom: 30px;
  }

  .team-section__item:nth-child(2) {
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .team-section__item:nth-child(4) {
    margin-left: 30px;
  }

  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .team-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-section__item {
  margin-bottom: 0;

  background-color: $primary-white-color;
  padding: 0;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 767px) {
    width: 100%;

    padding: 0;
  }
}

.team-social__box {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 19px;
}

.team-social__title {
  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social__list {
  display: flex;
  padding: 0;
  border: none;
  list-style: none;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.team-social__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-right: 10px;
  }
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $primary-gray-color;

  transition: 250ms $animation-cubic-beizer;

  &:focus,
  &:hover {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}

.team-social__icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

@media screen and (min-width: 1199px) {
  .team-section__list .item + .item {
    margin-left: 30px;
  }

  .team-section__list {
    display: flex;
  }
}
