$title-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-gray-color: #afb1b8;
$animation-cubic-beizer: cubic-bezier(0.4, 0, 0.2, 1);
